@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.radio-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
  justify-items: center;
  /* padding: 40px 20px 120px 20px; */
  width: 100%;
  box-sizing: border-box;

  @include tablet {
    gap: 20px;
    padding: 40px 20px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 12px;
    padding: 32px 48px 16px 16px;
    /* background-color: blue; */
  }
  @include wide {
    /*  grid-template-columns: repeat(auto-fit, minmax(220px, 300px)); */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
    padding: 40px 0 120px 0;
    /* background-color: red; //para testar responsividade */
  }
}
.load-more-btn {
  @include text-btn-load;

  display: flex;
  align-items: center;
  padding: 6px 16px;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid rgba(224, 210, 210, 0.1);
  color: white;
  background: rgba(88, 88, 88, 0.4);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  @include desktop {
    margin-left: 16px;
    @include body-lg;
  }
  @include wide {
    margin-left: 16px;
    @include body-lg;
  }
}
.empty-favorites-container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
  color: #4e5566;

  .empty-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
    opacity: 0.2;
    color: #3b82f6;
  }

  h3 {
    color: white;
    margin-bottom: 8px;
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
    max-width: 250px;
    line-height: 1.4;
  }
}
.empty-state {
  margin-top: 20px;

  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radio-list-container {
  margin-bottom: 100px; //necessario para o btn do discover n ficar escondido
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    align-items: flex-start;
  }
}
