@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;



.pills-title {
  @include header-title;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0 0 16px;

  @include tablet {
    @include heading-m;
  }
}
.category-pills-container {
  display: flex;
  gap: 18px;
  width: 100%;
  /*  max-width: 95vw; */
  overflow-x: auto;
  padding: 16px 0 0 16px;
  scrollbar-width: none;

  @include wide {
    padding: 16px 0 0 8px;
    gap: 8px;
    
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
