@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.wrapper-radio-card {
  background: none;
   border: 2px solid transparent;
  border-radius: 20px;
  padding: 0;
  cursor: pointer;
  display: block;
  width: 150px;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }
 @include tablet {
   width: 160px;
  }
}
.wrapper-radio-card.is-playing {
  box-shadow: 0 0 12px var(--accent-color);
}
.top-radio-card {
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0 0;
  
  @include tablet {
   height: 160px;
  }
}

.bottom-radio-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #0f1629;
  border-radius: 0 0 20px 20px;
  width: 100%;
  height: 70px;
  padding: 8px 16px;
  box-sizing: border-box;
  gap: 5px;

  p {
    margin: 0;
    color: white;
    font-size: 0.7rem;

    &:first-child {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.bottom-votes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.fav-button {
  position: absolute;
  top: -20px;
  right: -10px;
  width: 50px;
  /* height: 50px; */
  border-radius: 50%;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.8;

  &.is-fav {
    opacity: 1;
  }

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }

}