@use "variables" as *;

$tablet:768px;
$desktop:1024px;
$wide:1440px;

@mixin tablet{
  @media(min-width:#{$tablet}){
    @content;
  }
}
@mixin desktop{
  @media(min-width:#{$desktop}){
    @content;
  }
}
@mixin wide{
  @media(min-width:#{$wide}){
    @content;
  }
}


@mixin heading-xl {
  font-family: $font-heading;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
@mixin heading-topbar {
  font-family: $font-heading;
  font-size: 22px;
  line-height: 1.6;
}

@mixin heading-lg {
  font-family: $font-heading;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}

@mixin body-lg {
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

@mixin body-md {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
@mixin text-btn {
  font-family: $font-primary;
  font-size: 10px;
  line-height: 1.6;
}
@mixin body-s {
  font-family: $font-primary;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
}

@mixin header-title{
  font-family: $font-heading;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;

}
@mixin text-btn-load {
  font-family: $font-heading;
  font-size: 12px;
  line-height: 1.6;
}