@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,
body {
  
  height: 100%;
  font-family: $font-primary;
  background: $color-background;
}

h1,
h2,
h3 {
  font-family: $font-heading;
}
